@reference "tailwindcss";

.profile-container {
    @apply p-4 justify-center rounded-3xl h-full relative shadow-2xl;
}

.profile-container-mobile{
    @apply flex flex-col w-full h-full p-4 justify-around gap-3;
}
.pr-img-container {
    @apply p-1 transform duration-500;
    clip-path: circle(50%);
    background: linear-gradient(45deg, #610C9F, #940B92, #DA0C81, #E95793);
}

.pr-img-container:hover {
    transform: scale(1.05)
}

.pr-img {
    @apply w-[230px] h-[230px] bg-size-[150%] bg-position-[0px_-100px] ;
    clip-path: circle(50%);
}

.info-container {
    @apply flex flex-col items-center text-center p-2 mt-3 gap-2;
}

.discord-container {
    @apply relative;
}

.discord-container:hover .adress {
    @apply right-0 opacity-90 duration-1000;
}

.adress {
    @apply absolute opacity-0 -top-4 -left-8;
}

.contact-cont {
    @apply grid-cols-4 md:w-full mb-3 flex flex-row items-center justify-center relative gap-3 min-w-8;
}

.list-button {
    @apply absolute bottom-3 px-1 py-1 rounded-lg shadow-md hover:opacity-80 active:opacity-100;
}

.list-options {
    @apply absolute max-h-3/5 overflow-auto bottom-14 left-7 rounded-lg shadow-2xl w-32 text-lg z-[1];
}

@media (max-width:650px) {
    .profile-container {
        @apply items-center w-full;
    }

    .profile-container-mobile {
        @apply flex flex-row items-center w-11/12 justify-around;
    }

    .pr-img-container {
        @apply flex w-[150px] h-[150px] items-center justify-center;
    }

    .pr-img {
        @apply w-[140px] h-[140px] bg-size-[150%] bg-position-[212px_-50px];
    }

    .info-container {
        @apply text-sm flex-row;
    }

    .contact-cont {
        @apply flex-col items-center h-full;
    }

    .list-button {
        @apply p-1 bottom-2 left-3;
    }

    .list-options {
        @apply bottom-11 text-sm;
    }
}