@reference "tailwindcss";

.main-container {
    @apply flex flex-row w-11/12 h-5/6 min-h-[510px] items-center shadow-2xl rounded-3xl;
}

.profile {
    @apply flex flex-col relative items-center h-full rounded-3xl min-h-72;
}

.content-container {
    @apply flex flex-row overflow-auto relative w-full h-full min-w-56;
}

.menu-icons {
    @apply hover:text-red-700;
}

.menu-container{
    @apply absolute flex flex-row justify-between p-4 text-2xl w-11/12;
}

@media (max-width: 650px) {
    .main-container {
        @apply flex flex-col w-11/12 h-11/12 items-center min-w-[410px] min-h-[560px];
    }

    .profile {
        @apply w-full max-h-2/5;
    }
}

.container {
    position: relative;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s, transform .3s;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s, transform .3s;
}
