.main-container {
    @apply flex flex-row w-10/12 h-5/6 items-center shadow-2xl rounded-3xl;
}

.profile {
    @apply flex flex-col relative items-center h-full rounded-3xl;
}

.content-container {
    @apply flex flex-row overflow-auto relative w-full h-full;
    min-width: 217px;
}

.menu-icons:hover {
    @apply text-red-700
}

@media (max-width: 595px) {
    .main-container {
        @apply flex flex-col
    }

    .profile {
        @apply w-full
    }
}

.container {
    position: relative;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s, transform .3s;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .3s, transform .3s;
}
