@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App,
.Main {
    width: 100%;
    min-width: 362px;
    height: 100%;
    min-height: 600px;
    @apply flex justify-center items-center;
    background-color: #fcfbfc;
    background-image:
        radial-gradient(circle at 25px 25px, #e8e6e8 2px, transparent 2px),
        radial-gradient(circle at 75px 75px, #d6d3d6 2px, transparent 2px);
    background-size: 50px 50px;
}

.input-blue {
    @apply text-black p-1 rounded-md outline-sky-600 hover:shadow-lg hover:bg-white/[0.10]
}

.btn-blue {
    @apply pr-3 pl-3 p-1 m-1 text-white bg-sky-500 rounded-xl hover:bg-sky-500/[0.8] hover:shadow-lg active:bg-sky-600;
}

.btn-red {
    @apply pr-3 pl-3 p-1 m-1 text-white bg-red-500 rounded-xl hover:bg-red-700 active:bg-red-600
}

.input-label {
    @apply mt-2
}

.input-grid {
    @apply grid grid-cols-3 whitespace-nowrap min-w-max gap-1;
}

.checkbox-style {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500
}